@import url("main.css");

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow__container {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 40px;
    height: 40px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 65%, 25% 50%, 0% 35%);
}

.green-yellow {
    background-color: var(--color-green-yellow);
}

.orange {
    background-color: var(--color-primary);
}

.green {
    background-color: var(--color-secondary);
}

.transparent {
    background-color: transparent;
}

.arrow__corner {
    top: 15%;
    left: 10%;
}

.arrow__border {
    position: absolute;
    clip-path: polygon(-5% -5%, 105% 50%, -5% 105%, -5% 65%, 25% 50%, -5% 35%);
    background-color: white;
    width: 44px;
    height: 44px;
    top: -2px;
    left: -2px;
}

.arrow--rotate {
    transform: rotate(180deg);
}

@media (max-width: 640px) {
    .arrow__border {
        width: 34px;
        height: 34px;
    }

    .arrow--rotate {
        transform: translate(0, -25%) rotate(180deg);
    }

    .arrow {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    .arrow__border {
        width: 24px;
        height: 24px;
    }

    .arrow {
        width: 20px;
        height: 20px;
    }

    .arrow--rotate {
        transform: translate(0, -50%) rotate(180deg);
    }
}
