@import url("main.css");

.background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.background__one {
    background-image: url("../imgs/backgrounds/fondo-AHAYOU_2.png");
}

.background__two {
    background-image: url("../imgs/backgrounds/fondo-AHAYOU.png");
}

.background__black {
    background-color: var(--color-dark-2);
}
