@import url("main.css");

.form-wrapper {
    width: 35%;
}

.form-wrapper,
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    gap: 20px;
    width: 100%;
}

.form-wrapper * {
    color: #000;
}

.form__label,
.form__title {
    text-align: center;
}

.form__title {
    font-size: 3em;
    font-weight: 700;
    color: var(--color-primary);
}

.form__label {
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -1px;
}

.form__label--white {
    color: var(--color-white);
}

.form__input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form--shadow {
    border-radius: 5px;
}

.form--shadow-left {
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3), 0 -5px 10px rgba(0, 0, 0, 0.3),
        0 5px 10px rgba(0, 0, 0, 0.3);
}

.form--shadow-right {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3), 0 -5px 10px rgba(0, 0, 0, 0.3),
        0 5px 10px rgba(0, 0, 0, 0.3);
}

.form__input,
.form__button {
    height: 56px;
}

.form__button {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px 20px;
    transition: background-color 0.3s;
    word-wrap: break-word;
}

.form__button > img {
    width: 100%;
    height: 100%;
}

.form__button:hover {
    background-color: #b24100;
    transition: background-color 0.3s;
}

.form__input {
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    color: #000;
    font-size: 1em;
}

.form__input--specific-width {
    width: 420px;
}

.form__input::placeholder {
    color: #9f9f9f;
    font-size: 1.1em;
}

.form__input--big-font,
.form__input--big-font::placeholder {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 1.25em;
}

/* RESPONSIVE */

@media (max-width: 1400px) {
    .form-wrapper {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__button {
        font-size: 1.15em;
    }
}

@media (max-width: 900px) {
    .form-wrapper {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .form-wrapper {
        width: 75%;
    }
}

@media (max-width: 640px) {
    .form__title {
        font-size: 2.5em;
    }

    .form-wrapper {
        width: 90%;
    }

    .form__input--specific-width {
        width: 100%;
    }

    .form__input-container--main {
        padding: 0 50px;
    }

    .web-app-section__description,
    .form__label {
        font-size: 1.25rem;
    }

    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__button {
        font-size: 1.05em;
    }
}

@media (max-width: 500px) {
    .form__input,
    .form__button {
        height: 48px;
        padding: 5px 10px;
    }

    .form__title {
        font-size: 2em;
    }

    .form__input,
    .form__input::placeholder {
        font-size: 0.9em;
    }
}

@media (max-width: 320px) {
    .form__input-container--main {
        padding: 0 5px;
    }

    .form__input,
    .form__button {
        height: 40px;
    }

    .form__button {
        white-space:nowrap;
    }

    .form__label {
        font-size: 1em;
    }
}

@media (max-height: 640px) {
    .form__input,
    .form__button {
        height: 48px;
    }

    .form__label {
        font-size: 1.25em;
        flex: 1;
    }
}
