.frequent-questions {
    background-image: url("../imgs/backgrounds/landingpage-AHAYOU_04.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    overflow: hidden;
}

.frequent-questions__title {
    color: var(--color-white);
    letter-spacing: -5px;
    text-align: center;
    word-wrap: break-word;
}

.frequent-questions__title span:nth-child(1) {
    color: #23ad8b;
    font-weight: bold;
}

.frequent-questions__title span:nth-child(2) {
    font-weight: var(--second-font-weight);
}

.frequent-questions__content {
    background-color: var(--container-bg-color-2);
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 50px;
    position: relative;
}

.frequent-questions__image,
.frequent-questions__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frequent-questions__image {
    padding: 50px;
}

.frequent-questions__image > img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.frequent-questions__list {
    width: 100%;
    list-style: none;
}

.frequent-questions__item {
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}

.frequent-questions__item > details {
    text-decoration: none;
    text-align: justify;
    font-weight: 100;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 25px;
}

.frequent-questions__item > details > summary {
    font-size: 1.75em;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.frequent-questions__item > details > summary > span {
    width: 100%;
}

.frequent-questions__item > details > p {
    font-size: 1.5em;
    text-align: justify;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .arrow {
    transform: rotate(90deg);
}

.underline {
    border-bottom: 2px solid var(--color-white);
    border-width: 1px;
}

@media (max-width: 1280px) {
    .frequent-questions {
        gap: 25px;
    }

    .frequent-questions__content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .frequent-questions__image {
        display: none;
    }

    .frequent-questions__item {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .frequent-questions__content {
        width: 90%;
    }
}

@media (max-width: 600px), (max-height: 640px) {
    .frequent-questions {
        gap: 15px;
    }

    .frequent-questions__item > details > summary {
        font-size: 1.5em;
    }

    .frequent-questions__item > details > p {
        font-size: 1.25em;
    }

    .frequent-questions__content {
        padding: 25px;
    }
}

@media (max-width: 480px) {
    .frequent-questions__item > details > summary {
        font-size: 1.25em;
    }

    .frequent-questions__item > details > p {
        font-size: 1em;
    }
}

/* RESPONSIVE HEIGHT */

@media (max-height: 640px) {
    .frequent-questions__item > details {
        gap: 10px;
    }
}

@media (max-height: 430px) {
    .frequent-questions__content {
        height: 250px;
    }

    .frequent-questions__list {
        justify-content: start;
        overflow-y: auto;
        margin-right: 5px;
    }

    .frequent-questions__list::-webkit-scrollbar {
        width: 7.5px;
    }
}

@media (max-height: 360px) {
    .frequent-questions__content {
        height: 200px;
    }
}

@media (max-height: 340px) {
    .frequent-questions__title {
        letter-spacing: -3px;
    }

    .frequent-questions__content {
        height: 150px;
    }
}

@media (max-height: 300px) {
    .frequent-questions__title {
        letter-spacing: -2.5px;
    }
}

@media (max-height: 270px) {
    .frequent-questions__content {
        height: 100px;
        padding: 15px 25px;
    }
}

@media (max-height: 220px) {
    .frequent-questions__title {
        letter-spacing: -2px;
    }
}
