@import url("main.css");

.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
            to bottom,
            transparent 0%,
            #000000a0 75%,
            #000000f6 95%
        ),
        url("../imgs/backgrounds/header-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: auto 4fr auto;
    overflow: hidden;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px 200px;
    width: 100%;
    grid-row: 1;
    gap: 0 50px;
}

.header__items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 75px;
    grid-row: 2;
}

.header__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.header__item {
    text-align: center;
    display: none;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.header__item.active {
    display: block;
}

.header__logo {
    height: 4em;
    margin-right: auto;
    object-fit: cover;
}

.header__nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__nav-buttons:first-of-type {
    gap: 10px;
}

.header__nav-buttons:not(:first-of-type) {
    gap: 20px;
}

.header__nav-buttons > div {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
}

.header__button {
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.header__button--text {
    padding: 5px;
    width: 120px;
    border-radius: 20px;
    word-wrap: break-word;
}

.header__button--bg-orange {
    background-color: var(--color-primary);
    transition: background-color 0.3s;
}

.header__button--bg-orange:hover {
    background-color: #d54e00;
    transition: background-color 0.3s;
}

.header__button--bg-green {
    background-color: var(--color-secondary);
    transition: background-color 0.3s;
}

.header__button--bg-green:hover {
    background-color: #1fa180;
    transition: background-color 0.3s;
}

.header__button--icon {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    transition: background-color 0.3s;
}

.header__button--icon:hover {
    background-color: #00000052;
    transition: background-color 0.3s;
}

.header__button--icon:nth-child(1) {
    background-image: url("../imgs/flags/spain.png");
}

.header__button--icon:nth-child(2) {
    background-image: url("../imgs/flags/eeuu.png");
}

.header__button--hamburger {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    padding: 20px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.header__button--hamburger:hover {
    background-color: #000000e8;
    transition: background-color 0.3s;
}

.header__button--hamburger > div {
    height: 0.25rem;
    width: 80%;
    background-color: var(--color-white);
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__button--hamburger div:nth-child(1) {
    top: 25%;
}

.header__button--hamburger div:nth-child(3) {
    top: 75%;
}

.header__button--icon > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.header__title {
    font-weight: var(--second-font-weight);
    letter-spacing: -10px;
}

.header__description {
    color: #efefef;
    font-size: 1.5em;
    font-weight: 300;
}

.header__pag-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    width: 100%;
    grid-row: 3;
}

.header__pag-button {
    border: none;
    padding: 5px 10px;
    font-size: 2em;
    background-color: transparent;
    cursor: pointer;
    transition: color, border-bottom, font-size 0.3s;
}

.selected,
.header__pag-button:hover {
    color: #adff2f;
    font-size: 3em;
    transition: color, border-bottom, font-size 0.3s;
    position: relative;
}

.header__pag-button:hover::after,
.selected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 5px;
    background-color: #adff2f;
    border-radius: 5px;
    transform: translateX(-50%);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
    .header {
        background-size: cover;
    }

    .header__items-container {
        gap: 50px;
    }
}

@media (max-width: 1280px) {
    .header__nav {
        padding: 24px 100px;
    }

    .header__title {
        letter-spacing: -5px;
    }
}

@media (max-width: 1024px) {
    .header__items-container {
        gap: 25px;
    }
}

@media (max-width: 992px) {
    .header__nav {
        position: fixed;
        display: grid;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        z-index: 500;
        place-items: center;
        grid-row: none;
    }

    .header__logo,
    .header__nav-buttons:first-of-type {
        grid-column: 2;
    }

    .header__logo {
        grid-row: 1;
    }

    .header__nav-buttons:first-of-type {
        grid-row: 2;
    }

    .header__nav-buttons:not(:first-of-type) {
        grid-column: 3;
        grid-row: 1/3;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .header__items-container {
        height: 70%;
        padding: 50px;
        display: flex;
    }

    .header__pag-buttons {
        height: 30%;
    }

    .header__main-content {
        position: relative;
        margin-top: 150px;
        height: 70%;
        justify-content: center;
        gap: 0;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__item {
        justify-content: space-around;
        align-items: center;
        height: 100%;
        position: relative;
        padding: 0;
    }

    .header__title {
        letter-spacing: -2.5px;
        line-height: 0.8;
    }

    .header__description {
        font-size: 1.3em;
        letter-spacing: -1px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .header__list {
        width: 100%;
    }
}

@media (max-width: 992px), (max-height: 600px) {
    .header__pag-button {
        font-size: 1.5em;
        letter-spacing: -2px;
    }

    .selected,
    .header__pag-button:hover {
        font-size: 2em;
    }
}

@media (max-width: 640px) {
    .header__nav {
        padding: 24px 5px;
    }

    .header__description {
        font-size: 1em;
    }

    .header__pag-button {
        font-size: 1.25em;
    }

    .selected,
    .header__pag-button:hover {
        font-size: 1.75em;
    }

    .header__items-container {
        gap: 35px;
    }
}

@media (max-width: 600px), (max-height: 600px) {
    .header__pag-buttons {
        gap: 1em;
    }

    .header__items-container {
        padding: 25px;
    }
}

@media (max-width: 550px) {
    .header__items-container {
        gap: 20px;
    }

    .header__logo {
        width: 100%;
        height: 3em;
    }

    .header__logo,
    .header__nav-buttons:first-of-type {
        grid-column: 1/3;
    }

    .header__nav-buttons {
        grid-column: 3;
    }

    .header__button {
        font-size: 0.9em;
    }

    .header__nav-buttons:first-of-type {
        width: 100%;
    }

    .header__button--text {
        padding: 5px;
        width: 50%;
    }
}

@media (max-width: 420px) {
    .header__items-container {
        gap: 10px;
    }

    .header__logo {
        height: 2em;
    }

    .header__button {
        font-size: 0.8em;
    }

    .header__button--text {
        padding: 5px;
    }
}

/* RESPONSIVE HEIGHT */

/* @media (max-height: 768px) and (max-width: 615px) {
    .header__title {
        font-size: 6em;
    }

    .header__main-content {
        gap: 15px;
    }
} */

@media (max-height: 600px) {
    .header__title {
        font-size: 4em;
        letter-spacing: -5px;
    }

    .header__main-content {
        gap: 5px;
    }

    .header__main-content {
        width: 100%;
    }

    .header__items-container {
        height: 100%;
        padding: 0;
    }

    .header__item {
        position: relative;
        height: 100%;
    }

    .header__description {
        width: 100%;
        font-size: 1em;
        position: absolute;
        bottom: 0;
    }
}

@media (max-height: 300px) and (min-width: 992px) {
    .header__title {
        letter-spacing: -2.5px;
    }
}

@media (max-height: 450px) {
    .header__title {
        font-size: 3em;
    }

    .header__pag-button {
        font-size: 1.25em;
        letter-spacing: -2px;
    }

    .selected,
    .header__pag-button:hover {
        font-size: 1.75em;
    }
}

@media (max-height: 300px) {
    .header__title {
        font-size: 2.5em;
    }

    .header__pag-button {
        font-size: 1em;
        letter-spacing: -2px;
    }

    .selected,
    .header__pag-button:hover {
        font-size: 1.5em;
    }
}

@media (max-height: 220px) {
    .header__title {
        font-size: 2em;
    }
}

@media (max-height: 540px) {
    .header__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 75px;
        padding: 15px;
        gap: 0 15px;
    }

    .header__logo {
        grid-column: 1;
        grid-row: 1;
        object-fit: contain;
    }

    .header__nav-buttons:first-of-type {
        grid-column: 2;
        width: 100%;
        grid-row: 1;
    }

    .header__nav-buttons:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1;
    }
}

@media (max-width: 990px) and (max-height: 450px) {
    .header__main-content {
        margin-top: 75px;
    }
}

@media (max-height: 420px) {
    .header__items-container {
        padding: 0 25px;
    }
}

@media (max-height: 360px) {
    .header__nav {
        height: 60px;
        padding: 0 5px;
    }
}

@media (max-width: 990px) and (max-height: 290px) {
    .header__main-content {
        margin-top: 50px;
    }
}
