:root {
    --color-primary: #ff5d00;
    --color-secondary: #21b08d;
    --color-white: #fff;
    --second-font-weight: 100;
    --titles-font-size: 8em;
    --container-bg-color: #0000002e;
    --container-bg-color-2: #00000078;
    --color-green-yellow: #93c900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tajawal", serif;
    color: var(--color-white);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: start;
}

body {
    background-color: #000;
}

h2 {
    font-size: var(--titles-font-size);
    word-wrap: break-word;
    width: 100%;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    padding: 10px;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c24700;
    border: solid 1px #c24700;
    cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 1280px), (max-height: 640px) {
    h2 {
        font-size: 6em;
    }
}

@media (max-width: 1024px), (max-height: 460px) {
    h2 {
        font-size: 5em;
    }
}

@media (max-width: 640px), (max-height: 380px) {
    h2 {
        font-size: 4em;
    }
}

@media (max-width: 520px), (max-height: 340px) {
    h2 {
        font-size: 3em;
    }
}

@media (max-height: 300px) {
    h2 {
        font-size: 2.5em;
    }
}

@media (max-height: 220px) {
    h2 {
        font-size: 2em;
    }
}
