@import url("main.css");

/*
    MORE-INFORMATION.CSS

    Description: This css file is used for the more-information.html.
    Its include its spaces in its divs and other properties
*/

.more-information__main {
    padding: 50px 0;
}

.more-information__header-content {
    background: linear-gradient(
        to bottom,
        transparent 0%,
        #202020 90%,
        var(--color-dark-2) 95%
    );
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 25px 50px;
    padding: 50px;
    flex-wrap: wrap;
}

.more-information__header-data,
.more-information__header-data > ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.more-information__header-data {
    flex: 1;
}

.more-information__header-data > ul {
    list-style: none;
}

.more-information__section {
    margin: 0 100px;
}

.more-information__video {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 30%;
}

.more-information__video > iframe {
    height: 250px;
}

/*
    Component: Season selector

    Description: These are styles for the select component
    of seasons in more-information.html
*/

.season__selector {
    padding: 5px 10px;
    background-color: var(--color-dark-2);
}

.season__selector > option {
    color: var(--color-white);
}

.season__selector option:hover {
    cursor: pointer;
}

/*
    Component: Episodes list

    Description: These are styles for the episodes list
    and its items, like figures, texts and others.
*/

.episodes__list {
    width: 100%;
    list-style: decimal !important;
    counter-reset: episode-counter;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.episode {
    counter-increment: episode-counter;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--color-white-border);
    height: 225px;
    padding-bottom: 25px;
}

.episode::before {
    content: counter(episode-counter);
    font-size: 1.75em;
}

.episode__iframe {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.episode__info {
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.episode__metadata {
    display: grid;
    grid-template-columns: 80% 20%;
}

.episode__metadata > span {
    text-align: right;
}

.episode__synopsis {
    font-weight: 500;
}

.footer {
    margin-bottom: 24px;
    margin: 0 auto;
}

/*
    Section: Responsive

    Description: Media queries that change styles from
    the more-information.html page and its children component.
*/

@media (max-width: 1500px) {
    .episode__info {
        flex: 2;
    }
}

@media (max-width: 1030px) {
    .episode {
        flex-direction: column;
        height: auto;
    }

    .episode__iframe {
        height: clamp(250px, 50vw, 350px);
        flex-basis: unset;
    }
}

@media (max-width: 800px) {
    .more-information__header-content {
        flex-direction: column;
        padding-top: 150px;
    }
}

@media (max-width: 530px) {
    .more-information__section {
        margin: 0 15px;
    }

    .more-information__header-content {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;
        padding-top: 150px;
    }
}
