@import url("main.css");

.new-releases {
    background-image: url("../imgs/backgrounds/landingpage-AHAYOU_02.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    overflow: hidden;
}

.new-releases__title {
    text-align: center;
    letter-spacing: -5px;
}

.new-releases__title span:nth-child(1) {
    font-weight: bold;
}

.new-releases__title span:nth-child(2) {
    font-weight: var(--second-font-weight);
    color: var(--color-secondary);
}

.new-releases__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.new-releases__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    gap: 0 20px;
    width: 80%;
    transition: transform 0.3s ease;
}

.new-releases__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease;
}

.new-releases__item:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.3s ease;
}

.new-releases__list.slide-out {
    transform: translateX(-25%);
    opacity: 0;
}

.new-releases__list.slide-in {
    transform: translateX(25%);
    opacity: 0;
}

.new-releases__list.show {
    transform: translateX(0);
    opacity: 1;
}

.new-releases__item > img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px;
}

.new-releases__item > div {
    margin-top: 10px;
    width: 100%;
    height: 15%;
}

.new-releases__item > div > h3 {
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}

.new-releases__item > div > p {
    text-align: center;
    word-wrap: break-word;
}

/* RESPONSIVE HEIGHT */

@media (max-height: 768px) {
    .new-releases__item {
        height: 440px;
    }
}

@media (max-height: 700px) {
    .new-releases__item {
        height: 400px;
    }
}

@media (max-height: 640px) {
    .new-releases__item {
        height: 360px;
    }

    .new-releases__item > div {
        margin-top: 0;
    }

    .new-releases__item > img {
        object-fit: fill;
    }
}

@media (max-height: 600px) {
    .new-releases__item {
        height: 320px;
    }
}

@media (max-height: 560px) {
    .new-releases__item > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .new-releases__item {
        height: 280px;
    }
}

@media (max-height: 520px) {
    .new-releases__item {
        height: 240px;
    }
}

@media (max-height: 480px) {
    .new-releases__item {
        height: 200px;
    }
}

@media (max-height: 440px) {
    .new-releases__item {
        flex-direction: row;
        gap: 10px;
    }

    .new-releases__item > div {
        flex-direction: column;
    }

    .new-releases__item > img {
        height: 100%;
    }
}

@media (max-height: 400px) {
    .new-releases__item {
        height: 160px;
    }

    .new-releases__item > img {
        object-fit: cover;
    }
}

@media (max-height: 360px) {
    .new-releases__item {
        height: 120px;
    }
}

@media (max-height: 320px) {
    .new-releases__title {
        letter-spacing: -2.5px;
    }
}
