@import url("main.css");

/*
    SETTINGS.CSS

    Description: This css file is used for the settings pages.
    its includes changes in body and the header for the settings
    page.
*/

body {
    background-color: var(--color-white) !important;
    background-image: none;
    overflow-x: auto !important;
}

body * {
    color: #000;
    text-decoration: none;
}

.header--settings {
    padding: 50px;
    display: flex !important;
    justify-content: left;
    align-items: center;
}

.header__logo--settings {
    height: 6em;
}

.settings__list {
    list-style: none;
}

.settings__options > .settings__item:not(:last-of-type) {
    border-bottom: 1.5px solid var(--color-gray-border);
}

.settings__item {
    padding: 10px 0;
}

.settings__item > a > *:first-child {
    width: 90%;
}

.settings__item > a > *:not(:first-child) {
    width: 10%;
    max-width: 30px;
}
