@import url("main.css");

/*
    WEB-APP-SECTION.CSS

    Description: This css file is used for web-app-section in
    index.html page. Its includes its container, content and
    form.
*/

.web-app-section {
    background: url("../imgs/backgrounds/landingpage-AHAYOU_05.png") center / 100%
        100% repeat-y;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 100px;
    padding: 75px 0;
}

.web-app-section__content {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: var(--container-bg-color-2);
    flex-grow: 3;
    text-decoration: none;
    position: relative;
    border: none;
    transition: background-color 0.3s;
}

.web-app-section__content:hover {
    background-color: #000;
    cursor: pointer;
}

.web-app-section__form {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0;
}

/*
    Section: web-app-section.css texts

    Description: Styles for the texts in web-app-section
    in index.html.
*/

.web-app-section__container-description,
.web-app-section__title {
    flex: 1;
    word-wrap: break-word;
}

.web-app-section__title {
    letter-spacing: -5px;
    padding: 10px 50px;
    line-height: 1;
    text-align: left;
    text-align: center;
    font-size: 6em;
}

.web-app-section__title span {
    font-weight: bold;
    color: var(--color-primary);
}

/* .web-app-section__title span:nth-child(2) {
    font-weight: 300;
} */

.web-app-section__container-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px 0;
}

.web-app-section__image {
    width: 35%;
    height: auto;
    object-fit: contain;
    position: relative;
    left: 10px;
}

.web-app-section__description {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: left;
    letter-spacing: -1px;
}

/*
    Section: Responsive

    Description: Media queries that change styles web-app-section
    section in index.html page.
*/

@media (max-width: 1600px) {
    .web-app-section__content {
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .web-app-section__content {
        width: 70%;
    }

    .web-app-section__title {
        letter-spacing: -5px;
    }
}

@media (max-width: 1280px) {
    .web-app-section__title {
        font-size: 4.5em;
    }
}

@media (max-width: 1200px) {
    .web-app-section {
        gap: 75px;
    }
}

@media (max-width: 1024px) {
    .web-app-section__image {
        width: 170px;
    }

    .web-app-section {
        gap: 50px;
    }
}

@media (max-width: 660px), (max-height: 550px) {
    .web-app-section__title {
        font-size: 4em;
        padding: 5px;
        letter-spacing: -2.5px;
    }
}

@media (max-width: 640px) {
    .web-app-section__description {
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .web-app-section__content {
        width: 95%;
    }

    .web-app-section__title {
        font-size: 3.5em;
    }

    .form__input-container {
        padding: 0 25px;
    }
}

@media (max-width: 520px) {
    .web-app-section__title {
        font-size: 3em;
    }

    .web-app-section__description {
        font-size: 1rem;
    }

    .web-app-section__image {
        width: 125px;
    }
}

@media (max-width: 490px) {
    .web-app-section__title {
        font-size: 2.5em;
    }
}

@media (max-width: 300px) {
    .web-app-section__content {
        padding: 25px;
    }
}

@media (max-width: 250px) {
    .web-app-section {
        gap: 25px;
    }

    .web-app-section__content {
        padding: 15px;
    }
}

@media (max-width: 200px) {
    .web-app-section__image {
        width: 75px;
    }
}

/* HEIGHT RESPONSIVE */

@media (max-height: 768px) {
    .web-app-section {
        gap: 25px;
    }

    .web-app-section__content {
        padding: 25px;
    }

    .web-app-section__description {
        font-size: 1.25rem;
    }
}

@media (max-height: 640px) {
    .web-app-section__content {
        padding: 15px 25px;
    }
}
