@import url("main.css");

.web-app-section {
    background-image: url("../imgs/backgrounds/landingpage-AHAYOU_05.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 100px;
    padding: 75px 0;
}

.web-app-section__content {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: var(--container-bg-color-2);
    flex-grow: 3;
    text-decoration: none;
    position: relative;
    border: none;
    transition: background-color 0.3s;
}

.web-app-section__content:hover {
    transition: background-color 0.3s;
    background-color: #000;
}

.web-app-section__container-description,
.web-app-section__title {
    flex: 1;
    word-wrap: break-word;
}

.web-app-section__title span:nth-child(1) {
    font-weight: bold;
    color: var(--color-primary);
}

.web-app-section__title span:nth-child(2) {
    font-weight: 300;
}

.web-app-section__container-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px 0;
}

.web-app-section__image {
    width: 35%;
    height: auto;
    object-fit: contain;
    position: relative;
    left: 10px;
}

.web-app-section__description {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: left;
    letter-spacing: -1px;
}

.web-app-section__title {
    letter-spacing: -5px;
    word-wrap: break-word;
    padding: 10px 50px;
    line-height: 1;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.web-app-section__form {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0;
}

.web-app-section__label {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -1px;
}

.web-app-section__container-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.web-app-section__container-input > input[type="email"],
.web-app-section__container-input > input[type="button"] {
    height: 56px;
}

.web-app-section__container-input > input[type="button"] {
    background-color: var(--color-primary);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px 20px;
    transition: background-color 0.3s;
    word-wrap: break-word;
}

.web-app-section__container-input > input[type="button"]:hover {
    background-color: #b24100;
    transition: background-color 0.3s;
}

.web-app-section__container-input > input[type="email"] {
    width: 420px;
    font-size: 1.25em;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    color: #000;
}

.web-app-section__container-input > input[type="email"]::placeholder {
    color: #9f9f9f;
    letter-spacing: -1px;
    font-size: 1.25em;
    font-weight: 300;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
    .web-app-section__content {
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .web-app-section__content {
        width: 70%;
    }

    .web-app-section__title {
        letter-spacing: -5px;
    }
}

@media (max-width: 1280px) {
    .web-app-section__title {
        font-size: 4.5em;
    }
}

@media (max-width: 1200px) {
    .web-app-section {
        gap: 75px;
    }
}

@media (max-width: 1024px) {
    .web-app-section__image {
        width: 170px;
    }

    .web-app-section {
        gap: 50px;
    }
}

@media (max-width: 660px), (max-height: 550px) {
    .web-app-section__title {
        font-size: 4em;
        padding: 5px;
        letter-spacing: -2.5px;
    }
}

@media (max-width: 640px) {
    .web-app-section__container-input > input[type="email"] {
        width: 100%;
    }

    .web-app-section__container-input {
        padding: 0 50px;
    }

    .web-app-section__description,
    .web-app-section__label {
        font-size: 1.25rem;
    }

    .web-app-section__container-input > input[type="email"]::placeholder,
    .web-app-section__container-input > input[type="email"],
    .web-app-section__container-input > input[type="button"] {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .web-app-section__content {
        width: 95%;
    }

    .web-app-section__title {
        font-size: 3.5em;
    }

    .web-app-section__container-input {
        padding: 0 25px;
    }
}

@media (max-width: 520px) {
    .web-app-section__title {
        font-size: 3em;
    }

    .web-app-section__description {
        font-size: 1rem;
    }

    .web-app-section__image {
        width: 125px;
    }
}

@media (max-width: 500px) {
    .web-app-section__container-input > input[type="email"],
    .web-app-section__container-input > input[type="button"] {
        height: 48px;
        padding: 5px 10px;
    }
}

@media (max-width: 490px) {
    .web-app-section__title {
        font-size: 2.5em;
    }
}

@media (max-width: 320px) {
    .web-app-section__container-input {
        padding: 0 5px;
    }

    .web-app-section__container-input > input[type="email"],
    .web-app-section__container-input > input[type="button"] {
        height: 40px;
    }

    .web-app-section__container-input > input[type="button"] {
        white-space: no-wrap;
    }
}

@media (max-width: 300px) {
    .web-app-section__content {
        padding: 25px;
    }
}

@media (max-width: 250px) {
    .web-app-section {
        gap: 25px;
    }

    .web-app-section__content {
        padding: 15px;
    }
}

@media (max-width: 200px) {
    .web-app-section__image {
        width: 75px;
    }
}

/* HEIGHT RESPONSIVE */

@media (max-height: 768px) {
    .web-app-section {
        gap: 25px;
    }

    .web-app-section__content {
        padding: 25px;
    }

    .web-app-section__description {
        font-size: 1.25rem;
    }
}

@media (max-height: 640px) {
    .web-app-section__content {
        padding: 15px 25px;
    }

    .web-app-section__container-input > input[type="email"]::placeholder,
    .web-app-section__container-input > input[type="email"],
    .web-app-section__container-input > input[type="button"] {
        font-size: 1.15em;
    }

    .web-app-section__container-input > input[type="email"],
    .web-app-section__container-input > input[type="button"] {
        height: 48px;
    }

    .web-app-section__label {
        font-size: 1.25em;
        flex: 1;
    }
}
