@import url("/css/common/main.css");

.alert {
    display: none;
    border-radius: 20px;
    padding: 50px;
}

.alert--show {
    display: block;
}

.alert,
.alert * {
    color: #000;
}

.alert__text {
    text-align: justify;
    font-size: 1.15em;
}

.alert__text--center {
    text-align: center;
}

.alert__text--bold {
    font-weight: bold;
}
