@import url("/css/common/main.css");

.header {
    background: none;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(
        to bottom,
        #393c3e 0%,
        #393c3e 5%,
        #e4f1f2 30%,
        #e4f1f2 40%,
        #e6e6e6 50%,
        var(--color-white) 80%,
        var(--color-white) 100%
    );
    display: grid;
    min-height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr auto;
    gap: 50px;
}

.main--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.main--flex-column {
    flex-direction: column;
}

/* FOOTER */

.footer {
    margin-bottom: 24px;
    margin: 0 auto;
}

@media (max-height: 420px) {
    body {
        gap: 25px 50px;
    }
}
