/*
    PIN.CSS

    Description: This css file is intended the styles
    of inputs that will be pins, like a OPT form. It
    containes de list an inputs styles like spaces and
    sizes
*/

/*
    Component: pin__inputs

    Description: Principal container for pin inputs
*/

.pin__inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*
    Component: pin__input

    Description: Styles for pin inputs, it includes spaces
    and font sizes
*/

.pin__input {
    flex: 1;
    height: auto;
    min-width: 40px;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    text-align: center;
}

/*
    Section: Responsive
    Description: These are the media queries and styles 
    pin.css
*/

@media (max-width: 640px) {
    .pin__input {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    .pin__inputs {
        gap: 0.5rem;
    }
}
