/*
    PLANS-SELECTION.CSS

    Description: Styles for plans-selection pages.
*/

.plans-selection__width{
    width: 100vw !important;
}

.plans-selection {
    gap: 25px;
}

.plans-selection__item {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 250px;
    max-width: 500px;
}

.plans-selection__padding,
.plans-selection {
    padding-left: 25px;
    padding-right: 25px;
}

/*
    Section: Responsive

    Description: Media queries that change styles from 
    plans-selection.
*/

@media (max-width: 1570px) {
    .plans-selection__list {
        gap: 50px;
    }
}
