# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
*.logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.docx
*.pdf
*.xslx