@import url("css/common/main.css");

:root {
    --color-shadow: rgba(0, 0, 0, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    gap: 20px;
    width: 100%;
}

.form__label,
.form__title {
    text-align: center;
}

.form__title {
    font-size: 3em;
    font-weight: 700;
    color: var(--color-primary);
}

.form__label {
    pointer-events: none;
}

.form__label--first {
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -1px;
}

.form__label--white {
    color: var(--color-white);
}

.form__input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.form__input-container--main,
.form__input-container--row,
.form__input-container--checkbox {
    flex-direction: row;
}

.form__input-container--checkbox {
    justify-content: start;
}

.form__input-container--no-gap {
    gap: 0;
}

.form--shadow {
    border-radius: 5px;
}

.form--shadow-left {
    box-shadow: -5px 0 10px var(--color-shadow), 0 -5px 10px var(--color-shadow),
        0 5px 10px var(--color-shadow);
}

.form--shadow-right {
    box-shadow: 5px 0 10px var(--color-shadow), 0 -5px 10px var(--color-shadow),
        0 5px 10px var(--color-shadow);
}

.form__input {
    height: 56px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    color: #000;
    font-size: 1em;
    z-index: 100;
}

.form__checkbox,
.form__checkbox--second {
    appearance: none;
    padding: 0;
    flex-shrink: 0;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    position: relative;
}

.form__checkbox {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-white);
}

.form__checkbox--second {
    width: 35px;
    height: 35px;
    border: 5px solid var(--color-white);
}

.form__checkbox--sky-blue {
    border: 2.5px solid var(--color-sky-blue) !important;
}

.form__checkbox:not(.form__checkbox--second)::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform: scale(0);
    position: absolute;
    transition: 120ms transform ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    clip-path: polygon(
        15% 60%,
        35% 80%,
        80% 30%,
        77.5% 27.5%,
        35% 75%,
        17.5% 57.5%
    );
}

.form__checkbox--sky-blue::before {
    background-color: var(--color-sky-blue) !important;
}

.form__checkbox--second:checked {
    background-color: var(--color-primary);
}

.form__checkbox:not(.form__checkbox--second):checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.form__checkbox:hover,
.form__checkbox--second:hover {
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: var(--color-dark);
}

.form__input--specific-width {
    width: 420px;
}

.form__input::placeholder {
    color: var(--color-gray);
    font-size: 1.1em;
}

.form__input--big-font,
.form__input--big-font::placeholder {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 1.25em;
}

.form__input--dark {
    position: relative;
    color: var(--color-white);
    background-color: var(--color-dark);
    border: 1px solid var(--color-white-border);
}

.form__label--second {
    font-size: 1.25em;
    width: 100%;
    font-weight: 300;
    text-align: justify;
}

.form__label--center {
    text-align: center;
}

.form__label--bold {
    font-weight: bold;
}

.form__link {
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
    text-underline-offset: 7.5px;
    text-decoration-thickness: 1px;
}

.form__link:hover {
    cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__label--second,
    .form__link {
        font-size: 1.15em;
    }
}

@media (max-width: 640px) {
    .form__title {
        font-size: 2.5em;
    }

    .form__input--specific-width {
        width: 100%;
    }

    .form__input-container--main {
        padding: 0 50px;
    }

    .form__label--first {
        font-size: 1.25rem;
    }

    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__label--second,
    .form__link {
        font-size: 1.05em;
    }
}

@media (max-width: 500px) {
    .form__input {
        height: 48px;
        padding: 5px 10px;
    }

    .form__title {
        font-size: 2em;
    }

    .form__input,
    .form__input::placeholder {
        font-size: 0.9em;
    }

    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__label--second,
    .form__link {
        font-size: 1em;
    }

    .form__input--big-font,
    .form__input--big-font::placeholder {
        letter-spacing: 0px;
    }

    .form__checkbox {
        width: 35px !important;
        height: 35px !important;
    }

    .form__checkbox--second {
        border: 2.5px solid var(--color-white);
        width: 25px !important;
        height: 25px !important;
    }
}

@media (max-width: 420px) {
    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__label--second,
    .form__link {
        font-size: 0.95em;
    }
}

@media (max-width: 320px) {
    .form__input-container--main {
        padding: 0 5px;
    }

    .form__input {
        height: 40px;
    }

    .form__label--first {
        font-size: 1em;
    }

    .form__input--big-font::placeholder,
    .form__input--big-font,
    .form__label--second,
    .form__link {
        font-size: 0.8em;
    }

    .form__checkbox {
        width: 25px !important;
        height: 25px !important;
    }
}

@media (max-height: 640px) {
    .form__input {
        height: 48px;
    }

    .form__label--first {
        font-size: 1.25em;
        flex: 1;
    }
}
