/*
    RIBBON.CSS

    Description: This css file is intended for make a ribbon.
    It has a clip-path to create a diagonal to the 15% at X
    in the container, and also it use a mask-image with linear
    gradient to show only the 70% of the ribbon and after that
    is a gradient to hide the rest of the container. It must be 
    inside of the specific container that you want this to have. 
*/

.ribbon {
    position: absolute;
    top: -7%;
    right: 0;
    height: 56px;
    width: 50%;
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-top-right-radius: 20px;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
    mask-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 65%,
        rgba(255, 255, 255, 0.7) 70%,
        rgba(255, 255, 255, 0.3) 80%,
        rgba(0, 0, 0, 0) 90%
    );
}

/*
    Component: ribbon--under
    Description: Styles for a ribbon that will be located
    below a container
*/

.ribbon--under {
    position: absolute;
    top: 100%;
    right: 0;
    height: 36px;
    width: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-bottom-right-radius: 20px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 7.5% 100%);
}

/*
    Section: Responsive
    Description: These are the media queries and styles for
    diferents widths of the ribbon
*/

@media (max-width: 320px) {
    .ribbon--under {
        width: 90%;
    }
}
